
body {
  margin: 0;
  padding: 0;
}

main {
  font-family: var(--font-inter);
  position: relative; /* Required for the fill prop to work correctly */
  width: 100%;
  height: 100vh; /* Example height for full screen */
}

.radix-themes {
  --default-font-family: var(--font-inter);
  --heading-font-family: var(--font-cormorant);
}
